@font-face {
    font-family: pixelifySans;
    src: url('./public/assets/fonts/PixelifySans.ttf');
}

@font-face {
    font-family: firstFontasy;
    src: url('./public/assets/fonts/FirstFontasy.ttf');
}

*{
    font-family: 'pixelifySans';

}

body{
    overflow: hidden;
}